* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(9, 39, 21);
    scroll-behavior: smooth;
    transition: 0.4s;
}

.question {
    display: none;
}

.current-question {
    display: flex;
}

.logo {
    width: 150px;
    height: auto;
    margin: 16px 20px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
}

.flex-space {
    flex-grow: 5;
    text-transform: uppercase;
    color: #777777;
}

h1 {
    color: #777777;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.question {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding: 50px;
    font-family: 'Libre Baskerville', serif;
}

input[type="text"], select, label, input[type="number"], textarea {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 16px 20px;
    border: none;
    width: 50vw;
    font-size: 16px;
    outline: none;
    display: block;
}

textarea:focus {
    border: 1px solid #459659;
}

label {
    color: #777777;
}

.actions a {
    background-color: #47804f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    margin: 8px;
    outline: none;
    text-decoration: none;
    border: 2px solid #47804f;
}

.actions a.btn-border {
    background-color: transparent;
    color: #47804f;
    border: 2px solid #47804f;
}

input:hover, label:hover {
    cursor: pointer;
    opacity: 80%;
}


input[type="checkbox"], input[type="radio"], input[type="file"] {
    width: 100%;
    background-color: #eeeeee;
    display: none;
}

input[type="radio"]:checked+label {
    background-color: #459659;
    color: white;
}

input[type="checkbox"]:checked+label {
    border: 2px solid #459659;
    color: #459659;
}

.form-group {
    padding: 8px 0px;
}

.counter-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 100;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.counter-text span {
    color: #575757;
    
}

.message-warning {
    display: none;
    padding: 14px;
    font-weight: 100;
    background-color: #459659;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    transition: 0.4s;
    animation: fade-and-move 1s;
}

textarea {
    resize: none;
}

@keyframes fade-and-move{
    0% { 
        opacity: 0%;
        transform: translate(50%, -100%);
    }
    100% { 
        opacity: 100%;
        transform: translateY(50% 0%);
     }
}

@keyframes fade{
    0% { 
        opacity: 0%;
    }
    100% { 
        opacity: 100%;
     }
}

.show-w {
    display: inline-block;
    position: absolute;
    width: 50%;
    transform: translateX(50%);
    top: 20px;
    left: 0px;
    z-index: 30;
}

@media screen and (max-width: 600px){
    header {
        justify-content: center;
    }

    .flex-space {
        display: none;
    }

    .title {
        text-align: start;
        padding: 20px;
        font-size: 14px;
    }

    .counter-text {
        position: fixed;
        top: 20px;
        left: 20px;
        bottom: 100%;
        z-index: 40;
        flex-direction: row;
        text-align: center;
        background-color: transparent;
        padding: 0px;
    }

    .logo {
        padding-top: 20px;
        width: 100px;
    }
}

@media screen and (max-width: 450px){
    header {
        justify-content: center;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    .actions a {
        margin: 8px;
        width: 100%;
    }

    input[type="text"], select, label, input[type="number"], textarea {
        width: 90%;
    }

    .form-group {
        display: flex;
        justify-content: center;
        width: 90vw;
    }
}