/**
    color-pm: #00c652
    color-pm-dark: #307470
    color-pm-light: #9ae17b

    font-family: 'Merriweather', serif;
    font-family: 'Baloo Da 2', cursive;
*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

html {
    scroll-behavior: smooth;
}

p {
    animation: moveTopBottom 1s;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    z-index: 2;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo {
    width: auto;
    height: 5vh;
}

nav {
    display: none;
    transition: 0.4s;
}

.stat-gabon {
    padding: 0px;
}

#stat-cas-gabon {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    color: black;
    padding: 8px;
}

.show-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 14vh;
    background-color: white;
}

.nav-item {
    text-decoration: none;
    padding: 16px 16px;
    border-bottom: 1px solid #00c652;
    color: #000051;
}

.humberger-btn {
    color: #00c652;
    border: 1px solid #00c652;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
}


.home-cn {
    background-image:
    linear-gradient(to bottom, rgba(77, 77, 77, 0.52), rgba(49, 49, 49, 0.73)),
     url(https://images.unsplash.com/flagged/photo-1584036561584-b03c19da874c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

.explanation {
    padding: 20px;
    animation: moveTopBottom 1s;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.explanation h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 3em;
}

.explanation p {
    text-align: center;
    padding: 20;
    color: white;
    font-size: 1.9em;
    line-height: normal;
}

.test-form {
    background-color: white;
    padding: 20px;
    box-shadow: -1px 2px 10px #444444;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: moveRightLeft 1s ease-in 0s;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
}

.form-group input {
    padding: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.test-form .custom-link {
    width: 100%;
}

button, .custom-link {
    text-decoration: none;
    background-color: #00c652;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    transition: 1s;
}

.custom-link-lite {
    text-decoration: none;
    background-color: white;
    color: #00c652;
    border: 1px solid #00c652;
    padding: 16px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    transition: 1s;
}

main {
    padding: 20px;
    overflow-x: hidden;
}

main section h1 {
    color: #00c652;
    text-align: left;
    padding: 20px;
    font-size: 2.0em;
    text-align: center;
    padding-top: 100px;
}

main section {
    padding-bottom: 60px;
}

footer {
    background-color: #000000;
    padding: 20px;
}

footer * {
    color: white;
}

footer h1 {
    color: #00c652;
    padding-bottom: 8px;
}

strong {
    font-weight: bold;
}

button.disable, a.disable {
    background-color: #cccccc;
    color: #777777;
}

button.disable:hover, a.disable:hover {
    cursor: not-allowed;
}


.geste {
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.geste i {
    color: #00c652;
    font-size: 32px;
}

.geste h2 {
    color: #00c652;
    padding: 14px;
    font-size: 16px;
}

.geste p {
    color: #777777;
    font-size: 14px;
}

.geste img {
    width: 64px;
    height: auto;
}

#bongeste p {
    padding: 20px;
}

#apropos p {
    padding: 8px;
    text-align: justify;
    line-height: 2em;
}

p {
    padding: 20px 8px;
}

#stat img {
    width: 50%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000051;
}

.logo_sing {
    width: 64px;
    height: auto;
}

.copyright {
    text-align: center;
    padding: 40px 20px;
}

section:nth-child(2n) {
    background-color: #00c652;
    padding: 16% 20px 24% 20px;
    color: white;
}

section:nth-child(2n) h1 {
    color: white;
}

.geste h2, .geste p {
    color: white;
}


.geste h2 {
    font-size: 18px;
}

.method {
    position: relative;
    left: 10%;
    width: 80%;
    background-color: white;
    box-shadow: -1px 2px 5px green;
    padding: 16px;
    margin-top: 20px;
}

.method img, .method h3 {
    width: 100%;
    color: #00c652;
}


.post {
    padding: 16px;
}

.post img {
    width: 100px;
    height: auto;
}

.post iframe {
    width: 90%;
    padding: 20px 0px;
}

.card-2 p {
    color: black;
    text-align: justify;
}

article h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post p {
    text-align: justify;
}

.post h3 {
    text-transform: uppercase;
    padding: 16px 0px;
}

.post p a {
    padding: 20px 0px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: white;
    box-shadow: -1px 2px 5px green;
    margin: 8px;
    transition: 0.4s;
}

.card h2 {
    background-color: #00c652;
    color: white;
    padding: 5%;
    text-transform: uppercase;
    font-size: 16px;
}

.card a {
    color: white;
}

.card p {
    color: #000000;
    padding: 16px;
    text-align: center;
    font-size: 16px;
}

.card-2 {
    background-color: white;
    padding: 16px;
    box-shadow: -1px 2px 5px green;
    margin: 8px;
}

.card-2 a {
    padding: 16px;
}

.card-2 img {
    width: 80px;
    height: auto;
}

.center {
    text-align: center;
}

.post h3 {
    text-align: center;
}

.humberger-btn {
    display: block;
}

#stat-covid {
    width: 100%;
    height: 516px;
}

@media screen and (min-width: 900px){

    #stat-covid {
        width: 1024px;
        height: 560px;
    }

    .logo {
        width: auto;
        height: 10vh;
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 30%;
    }

    .card-2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .card-2 div {
        padding: 16px;
    }

    .card-2 p {
        color: black;
    }

    .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .post iframe {
        width: 560px;
    }

    #apropos li {
        width: 30%;
    }

    .humberger-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-item {
        border-bottom: none;
    }

    .home-cn {
        display: flex;
        flex-direction: row;
        height: 90vh;
    }

    .explanation {
        width: 50%;
        justify-content: start;
        display: flex;
        flex-direction: column;
    }

    .explanation h1 {
        text-align: start;
    }

    .explanation p {
        text-align: start;
    }

    .gestes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .geste {
        width: 30%;
    }

    section:nth-child(2n) {
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    }
}