@keyframes moveTopBottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(+50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}